!!! 5
%html{:lang=>'en'}
  %head
    %meta{:charset=>'utf-8'}
    %title 
      - unless @q
        UK Parliament Calendars
      - else
        = @q + ' (UK Parliament Calendars)'
    /[if lt IE 9]
      %script{:src=>'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    %link{:rel=>'stylesheet', :href=>'/css/bootstrap.min.css'}
    %style
      html, body {background-color: #eee;}
      body {padding-top: 40px;}
      div.container > footer p {text-align: center;}
      div.content {background-color:#fff;padding: 20px;margin: 0 -20px;-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;border-radius: 0 0 6px 6px;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);box-shadow: 0 1px 2px rgba(0,0,0,.15);}
      div.page-header {background-color: #f5f5f5;padding: 20px 20px 10px;margin: -20px -20px 20px;}
      div.topbar .btn {border: 0;} 
  %body
    .topbar
      .fill
        .container
          %a.brand UK Parliament Calendars
          %ul.nav
            %li.active
              %a Home
            %li
              %a About
          %form.pull-right
            %input.input-large{:type => 'search', :placeholder => 'Search', :name => "q", :value => @q}
            %button.btn{:type => "Submit"} Search
            
    .container
      .content
        .page-header
          %h1 UK Parliament Calendars <small>Supporting text</small>
          / http://en.wikipedia.org/wiki/ICalendar
          / http://mongomapper.com/documentation/plugins/querying.html#all
        .row
          .span16
            .row
              .span16
                %h3 Houses of Parliament
            .row
              .span16
                %a.btn{:href=>"http://services.parliament.uk/calendar/all.rss"} RSS
                %a.btn{:href=>"/all.ics"} ICS
            .row
              .span8
                %h4 House of Commons
              .span1
                &nbsp;
              .span7
                %h4 House of Lords            
            .row
              .span8
                %a.btn{:href=>"http://services.parliament.uk/calendar/commons.rss"} RSS
                %a.btn{:href=>"/commons.ics"} ICS
              .span1
                &nbsp;
              .span7
                %a.btn{:href=>"http://services.parliament.uk/calendar/lords.rss"} RSS
                %a.btn{:href=>"/lords.ics"} ICS
            .row
              .span16
                &nbsp;
            .row
              .span2
                Main Chamber
              .span2
                Westminster Hall
              .span2
                General Cttees.
              .span2
                Select Cttees.
              .span1
                &nbsp;
              .span2
                Main Chamber
              .span2
                Grand Cttees.
              .span2
                Select Cttees.
            .row
              .span2
                %a.btn.small{:href=>"http://services.parliament.uk/calendar/commons_main_chamber.rss"} RSS
                %a.btn.small{:href=>"/commons_main_chamber.ics"} ICS
              .span2
                %a.btn.small{:href=>"http://services.parliament.uk/calendar/commons_westminster_hall.rss"} RSS
                %a.btn.small{:href=>"/commons_westminster_hall.ics"} ICS
              .span2
                %a.btn.small{:href=>"http://services.parliament.uk/calendar/commons_general_committee.rss"} RSS
                %a.btn.small{:href=>"/commons_general_committee.ics"} ICS
              .span2
                %a.btn.small{:href=>"http://services.parliament.uk/calendar/commons_select_committee.rss"} RSS
                %a.btn.small{:href=>"/commons_select_committee.ics"} ICS
              .span1
                &nbsp;
              .span2
                %a.btn.small{:href=>"http://services.parliament.uk/calendar/lords_main_chamber.rss"} RSS
                %a.btn.small{:href=>"/lords_main_chamber.ics"} ICS
              .span2
                %a.btn.small{:href=>"http://services.parliament.uk/calendar/lords_grand_committee.rss"} RSS
                %a.btn.small{:href=>"/lords_grand_committee.ics"} ICS
              .span2
                %a.btn.small{:href=>"http://services.parliament.uk/calendar/lords_select_committee.rss"} RSS
                %a.btn.small{:href=>"/lords_select_committee.ics"} ICS
        
    
        -# @items.each do |item|
          %p
            = item.title
      %footer
        %p &copy UK Parliament
    