%html
  %head
    %title 
      - unless @q
        rss2schedule
      - else
        = @q + ' (rss2schedule)'
    %style 
      body {width:38em;margin-left:8em;margin-top:4em;margin-bottom:4em;font-family:Helvetica,sans-serif;}
  %body
    %form#search
      %input{:name => "q", :value => @q}
      %input{:type => "Submit", :value => "Search"}
    = @q
    
    %h1 UK Parliament iCalendar
    / http://en.wikipedia.org/wiki/ICalendar
    / http://mongomapper.com/documentation/plugins/querying.html#all
    %ul
      %li House of Commons - /commons.ics
      %ul
        %li Main Chamber - /commons/chamber.ics
        %li Westminster Hall - /commons/westminster-hall.ics
        %li General Committees - /commons/general-committees.ics
        %li Select Committees - /commons/select-committees.ics
      %li House of Lords - /lords.ics
      %ul
        %li Main Chamber - /lords/chamber.ics
        %li Grand Committees - /lords/grand-committees.ics
        %li Select Committees - /lords/select-committees.ics

    -# @items.each do |item|
      %p
        = item.title
        